@model RecycleDevices.Models.Apointment


@{
    ViewData["Title"] = "UpdateState";
}


@{
    Layout = "~/Views/Shared/_Layout_Usuario.cshtml";
}



<h1>Estado Actualizado</h1>


<div>
    <h4>Apointment</h4>
    <hr />
    <dl class="row">
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="AsignedApointment">Back to List</a>
</div>
