@model IEnumerable<RecycleDevices.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/CRUDDom.cshtml";
}

<h4>Vehiculs Registrados</h4>

<p>
    <a asp-action="Create" class="btn btn-primary" style="color: white; background-color: green;">Registrar nuevo vehiculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDDomiciliario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDDomiciliario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="color: white;border-block-color:forestgreen; background-color: green;">Editar</a>|
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="color: white;border-block-color:forestgreen; background-color: green;">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" style="color: white;border-block-color:forestgreen; background-color: green;">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
