@model RecycleDevices.Models.Domiciliario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/CRUDDom.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Domiciliario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourInitial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourInitial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.roll)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roll)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
