
@{
    ViewData["Title"] = "Acerca de Nosotros";
}

@{
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}
<div class="container container-titt">
    <h2 calss="container-tit" style="text-align:right;">¿QUIENÉS SOMOS?</h2>
</div>
<br />
<div class="container">
    <div class="row ">
        <div class="col-md-6">
            
            <img src="@Url.Content("~/images/Empresa.jpg")" class="img-fluid float-start me-3" alt="Imagen">
        </div>
        <div class="col-md-6 text-justify" style="text-align:justify; margin: 0;">

            <p class="float-end ">
                
                ¡Bienvenidos a RecycleDevices! Somos una empresa comprometida con el medio ambiente y la sostenibilidad.
                Nos encargamos de recolectar tus residuos electrónicos y eléctricos para darles un adecuado tratamiento
                y evitar su impacto negativo en el medio ambiente.
                <br />
                <br />
                Pero eso no es todo, queremos que tú también formes parte de nuestro compromiso y juntos contribuyamos a
                crear un mundo más sostenible. Por eso, hemos creado un sistema de recompensas en nuestra plataforma para 
                aquellos que decidan donar sus dispositivos y equipos electrónicos. ¡Por cada donación acumulas puntos que
                puedes redimir en nuestras tiendas asociadas como códigos de descuento!
                <br />
                <br />
                No solo estás contribuyendo a la sostenibilidad del planeta, sino que también puedes disfrutar de los
                beneficios que ofrecen nuestras tiendas aliadas. ¿Qué esperas para ser parte del cambio? ¡Únete a nuestra comunidad de RecycleDevices y juntos creemos un futuro más sostenible!
            </p>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-my">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Misión</h2>
                    <p class="card-text text-justify">
                        Gestionar de manera responsable los residuos de aparatos
                        eléctricos, electrónicos, garantizando el menor impacto en el
                        medio ambiente, generando beneficios economicos para
                        cada uno de los involucrados en el proceso.
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-my">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Visión</h2>
                    <p class="card-text text-justify">
                        Para el 2026, destacarnos a nivel departamental como la
                        mejor alternativa para una disposición integral de los
                        RAEE(Residuos electricos y electronicos) , gracias a nuestro
                        modelo de negocio e interaccion con nuestros usuarios y
                        colaboradores
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-titt">
    <h2 calss="container-tit" style="text-align:center;">NUESTROS VALORES</h2>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-valores text-center ">
                <div class="card-body ">
                    <i class="fas fa-users fa-3x mb-3"></i>
                    <h5 class="card-title">Honestidad</h5>
                    <p class="card-text">
                        Buscamos generar confianza en nuestros
                        clientes y stakeholders a través de la gestión
                        adecuada de los RAEE y los incentivos
                        obtenidos por su aporte
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-valores text-center ">
                <div class="card-body ">
                    <i class="fas fa-globe fa-3x mb-3"></i>
                    <h5 class="card-title">Etica</h5>
                    <p class="card-text">
                        Este valor representa el compromiso de
                        RecycleDevices con la ética y la integridad en
                        todas sus operaciones, asegurando que sus
                        acciones y decisiones estén siempre alineadas
                        con los valores y principios éticos de la empresa.
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-valores text-center">
                <div class="card-body ">
                    <i class="fas fa-heart fa-3x mb-3"></i>
                    <h5 class="card-title">Responsabilidad social</h5>
                    <p class="card-text">
                        Representa el compromiso de RecycleDevices con su
                        comunidad, buscando siempre contribuir de manera
                        positiva a la sociedad a través de la gestión adecuada de
                        los residuos electrónicos.
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-valores text-center">
                <div class="card-body ">
                    <i class="fas fa-heart fa-3x mb-3"></i>
                    <h5 class="card-title">Innovación</h5>
                    <p class="card-text">
                        Refleja nuestro compromiso con
                        la mejora continua de sus servicios y
                        operaciones a través de la búsqueda
                        constante de nuevas soluciones y tecnologías.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-valores text-center">
                <div class="card-body ">
                    <i class="fas fa-heart fa-3x mb-3"></i>
                    <h5 class="card-title">Sostenibilidad</h5>
                    <p class="card-text">
                        Nuesro compromiso  con
                        la preservación del medio ambiente y la
                        promoción de prácticas sostenibles en todas
                        las áreas de la empresa.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-valores text-center">
                <div class="card-body ">
                    <i class="fas fa-heart fa-3x mb-3"></i>
                    <h5 class="card-title">Aprendizaje continuo</h5>
                    <p class="card-text">
                        Actitud hacia el aprendizaje y la
                        mejora continua, buscando siempre nuevas formas de
                        aprender y crecer como empresa y como individuos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-titt">
    <h2 calss="container-tit" style="text-align:center;">NUESTRO EQUIPO</h2>
</div>
<section class="portafolio">
    <div class="contenedor">
        <div class="galeria-port">

            <div class="imagen-port">
                <img src="@Url.Content("~/images/Julian.jpeg")" alt="">
                <div class="hover-galeria">
                    <img src="@Url.Content("~/images/Portafolio.jpeg")" alt="">
                    <p>Julian Gonzalez</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="@Url.Content("~/images/Iconos.jpeg")" alt="">
                <div class="hover-galeria">
                    <img src="@Url.Content("~/images/Portafolio.jpeg")" alt="">
                   <p>Camila Enriquez</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="@Url.Content("~/images/Iconos.jpeg")" alt="">
                <div class="hover-galeria">
                    <img src="@Url.Content("~/images/Portafolio.jpeg")" alt="">
                    <p>Nicolas Torres</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="@Url.Content("~/images/Iconos.jpeg")" alt="">
                <div class="hover-galeria">
                    <img src="@Url.Content("~/images/Portafolio.jpeg")" alt="">
                    <p>Lionson Largo</p>
                </div>
            </div>
        </div>
    </div>
</section>